---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { formatDate } from '../../lib/date';
import RssIcon from '@/components/icons/RssIcon.astro';

const collection = (await getCollection('blog')).sort(
	(a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout title="Blog">
	<div class="w-full">
		<div class="mb-[1.1rem] flex w-full flex-row items-end justify-between">
			<h1>Blog</h1>
			<a href="/blog/rss.xml" title="RSS feed">
				<RssIcon size={28} class="fill-neutral-500 dark:fill-neutral-400" />
			</a>
		</div>

		<ol class="grid gap-1">
			{
				collection.map((e) => (
					<li class="card p-4">
						<article>
							<a href={`/blog/${e.slug}`} class="flex flex-col text-inherit hover:no-underline">
								<h2 class="text-h4">{e.data.title}</h2>
								{e.data.description}
								<time
									datetime={e.data.date.toISOString()}
									class="mt-1 text-caption text-neutral-500 dark:text-neutral-400"
								>
									{`${formatDate(e.data.date)}`}
								</time>
							</a>
						</article>
					</li>
				))
			}
		</ol>
	</div>
</BaseLayout>
