---
import BaseLayout from '../layouts/BaseLayout.astro';

import githubLogo from '../../assets/github-mark-white.svg';
import githubLogoLight from '../../assets/github-mark.svg';
import discordLogo from '../../assets/discord-mark-white.svg';
import discordLogoLight from '../../assets/discord-mark-black.svg';
import mailIcon from '../../assets/mail-white.svg';
import mailIconLight from '../../assets/mail.svg';
---

<BaseLayout centerContent={true}>
	<div class="mb-16 max-w-[24rem]">
		<h1 class="-ml-2 mb-1 select-none">👋</h1>
		<h1 class="mb-3 leading-tight">Hey, I'm heftymouse</h1>
		<div class="mb-5">
			<p class="mb-3">I am a student and hobbyist software developer.</p>
			<p class="mb-3">
				I like to make apps designed for the modern Windows ecosystem. Other interests of mine
				include web dev, Discord bots, and anything else that may catch my interest.
			</p>
			<p class="mb-2">
				I live in Bengaluru, India, and am currently pursuing a bachelor's degree in Computer
				Science and Engineering.
			</p>
			<a href="/about">See more →</a>
		</div>
		<address class="flex select-none flex-row items-center">
			<a href="https://github.com/heftymouse" class="mr-4">
				<picture>
					<source srcset={githubLogo} media="(prefers-color-scheme: dark)" />
					<img src={githubLogoLight} alt="GitHub" class="mb-[0.075rem] h-[1.6rem]" />
				</picture>
			</a>
			<picture class="peer/discord mr-4 hover:mr-2">
				<source srcset={discordLogo} media="(prefers-color-scheme: dark)" />
				<img id="discord" src={discordLogoLight} alt="Discord" class="w-[1.8rem]" />
			</picture>
			<span
				id="discordText"
				class="card mr-4 hidden select-text p-1 leading-none peer-hover/discord:block"
				>heftymouse</span
			>
			<a href="mailto:hello@heftymouse.me">
				<picture>
					<source srcset={mailIcon} media="(prefers-color-scheme: dark)" />
					<img src={mailIconLight} alt="E-mail" class="h-[1.8rem]" />
				</picture>
			</a>
		</address>
	</div>

	<script type="module">
		let discord = document.querySelector('#discord');
		let discordText = document.querySelector('#discordText');
		discord.addEventListener('click', async () => {
			await navigator.clipboard.writeText('heftymouse');
			discordText.innerHTML = 'Copied!';
		});

		discord.addEventListener('mouseleave', () => {
			discordText.innerHTML = 'heftymouse';
		});
	</script>
</BaseLayout>
